main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h3 {
  padding: 1rem;
}

.rating span {
  margin: 0.1rem;
}

.section-p1 {
  padding: 40px 80px;
}

button.normal {
  height: 50px;
  width: 150px;
  font-size: 15px;
  border-radius: 15px;
  margin-top: 15px;
  margin-bottom: 30px;
  border: 0;
}

button.normal:hover {
  background-color: rgb(52,58,64);
  color:#cce7d0
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  min-height: 0 !important;
}


/* Footer */

footer .copyright {
  width: 100%;
  text-align: center;
}

footer .nktFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer .nktFooter a{
  text-decoration: none;
}

footer .follow {
  color: #465b52;
  padding-right: 4px;
}

footer .icon i{
  margin: 0 3px;
  cursor: pointer;
}

footer .follow i:hover,
footer a:hover{
  color: #088178;
}

/* Newsletter */

#newsletter {
  background-color: #011e2c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 30px;
  padding: 30px;
}

#newsletter .newstext h4 {
  color: #cce7d0;
} 

#newsletter .newstext span {
  color: #009717;
  text-transform: uppercase;
  font-weight: bold;
} 

#newsletter .newstext {
  margin-right: 40px;
}

#newsletter .form {
  margin-left: 40px;
}

/* Dual Grid */

.dualgrid{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  margin: 40px 20px;
}


.dualgrid-left h3{
  font-size: 50px;
  color:#088178;
}

.dualgrid-left h4{
  margin: 10px;
  text-align: start;
}

.dualgrid-left button{
  align-items: flex-start;
}

.dualgrid-right{
  background-image: url('../public/images/ps4-pro.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  margin: 20px 0;
}

/* Banner */

.nktbanner {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("../public/images/b2.jpg");
  width: 100%;
}

.nktbanner p {
  padding: 20px 0 0 0 ;
  color: #cce7d0;
  font-size: 15px;
}

.nktbanner h2 {
  color: #cce7d0;
  padding: 0;
}

/* Pagination */
.pagination {
  margin-left: 20px;
  display: inline-block;
}

.pagination p {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  margin: 0px;
}

.pagination p.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

/* Search Box */

.search-box{
  max-width: 300px;
  display: flex;
  align-items: center;
}

/* Carousel */
.carousel-col-image img{
  max-height: 15rem;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  margin: 5% 30%;
}

.carousel-col-text{
  margin-bottom: 2.5rem ;
  height: 22rem;
}

.carousel-col-text h2{
  font-weight: 50;
}

/*NKT Product Card */

#nktproduct {
  text-align: center;
}

#nktproduct .nktcontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

#nktproduct .nktcard {
  width: 80%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;

  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
  margin: 15px 15px;

  transition: 0.3s ease;
  margin: 10px auto;

  position: relative;
}

#nktproduct .nktcard:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
}

#nktproduct .nktcard img{
  width: 100%;
  border-radius: 20px;
}

#nktproduct .nktcard .nktcard-description {
  text-align: start;
  padding: 10px 0;
}

#nktproduct .nktcard .nktcard-description span {
  color: #606063;
  font-size: 12px;
}

#nktproduct .nktcard .nktcard-description h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
  font-weight: 800;
}

#nktproduct .nktcard .nktcard-description h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

#nktproduct .nktcard .nktcard-stock {
  width: 70px;
  height: 20px;
  padding-top: 0%;
  font-size: 12px;
  line-height: 10px;
  align-content: center;

  position: absolute;
  bottom: 20px;
  right: 10px;
}